body{
        background-color: gainsboro;
        padding-left: 100px;
        padding-right: 100px;
        font-family: 'poppins';
}
header{
    padding: 40px;
    font-size: 162.5%;
}
footer{
    background-color: rgb(59, 59, 59);
    padding-top: 10px;
}
nav{
    display: flex;
    justify-content: space-around;
}
nav a{
    text-decoration: none ;
    color:blue;
}
.black-line {
    background-color: black;
    height: 30rem;
    width: 0.6rem;
    margin-right: 2.8rem;
}
.home img{
    display:flex;
    height: 30rem;
}
